Repository AlexFiliakov/Ergodic-Insurance-Limits: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: python -m mypy ergodic_insurance/ --ignore-missing-imports
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: python -m pylint
  language: system
  args:
  - --rcfile=pyproject.toml

fix: rename coverage_limit to limit in run_analysis() and unify parameter naming (#1296)
  ergodic_insurance/__init__.py
  ergodic_insurance/_run_analysis.py
  ergodic_insurance/decision_engine.py
  ergodic_insurance/tests/integration/test_critical_integrations.py
  ergodic_insurance/tests/test_decision_engine.py
  ergodic_insurance/tests/test_decision_engine_edge_cases.py
  ergodic_insurance/tests/test_decision_engine_scenarios.py
  ergodic_insurance/tests/test_run_analysis.py
Due: mypy, pylint

fix: replace print() with logging in production modules (#1310) (#1411)
  ergodic_insurance/batch_processor.py
  ergodic_insurance/bootstrap_analysis.py
  ergodic_insurance/progress_monitor.py
  ergodic_insurance/tests/test_bootstrap_analysis_coverage.py
  ergodic_insurance/tests/test_print_warnings_382.py
  ergodic_insurance/tests/test_progress_monitor.py
  ergodic_insurance/tests/test_progress_monitor_coverage.py
  ergodic_insurance/trajectory_storage.py
Due: mypy, pylint

fix: rename coverage_limit to limit in run_analysis() and unify parameter naming (#1296) (#1412)
  ergodic_insurance/__init__.py
  ergodic_insurance/_run_analysis.py
  ergodic_insurance/decision_engine.py
  ergodic_insurance/tests/integration/test_critical_integrations.py
  ergodic_insurance/tests/test_decision_engine.py
  ergodic_insurance/tests/test_decision_engine_edge_cases.py
  ergodic_insurance/tests/test_decision_engine_scenarios.py
  ergodic_insurance/tests/test_run_analysis.py
Due: mypy, pylint

fix: add losses config to test_module_inclusion so validate_config() passes
  ergodic_insurance/tests/test_config_manager.py
Due: mypy, pylint

fix: Config.validate_completeness() silently returns issues list instead of raising (#1299) (#1410)
  ergodic_insurance/config/__init__.py
  ergodic_insurance/config/core.py
  ergodic_insurance/config/exceptions.py
  ergodic_insurance/config_manager.py
  ergodic_insurance/tests/test_config_manager.py
  ergodic_insurance/tests/test_config_v2.py
  ergodic_insurance/tests/test_config_v2_integration.py
  ergodic_insurance/tests/test_coverage_gaps_batch3.py
Due: mypy, pylint

fix: move MC classmethods off Simulation to standalone functions (#1301)
  ergodic_insurance/__init__.py
  ergodic_insurance/_compare_strategies.py
  ergodic_insurance/simulation.py
  ergodic_insurance/tests/test_simulation_coverage.py
Due: mypy, pylint

fix: add InsuranceProgram.from_config() and Simulation.from_config() factories (#1315)
  ergodic_insurance/insurance_program.py
  ergodic_insurance/simulation.py
  ergodic_insurance/tests/test_insurance_program.py
Due: mypy, pylint

fix: add InsuranceProgram.from_config() and Simulation.from_config() factories (#1315) (#1414)
  ergodic_insurance/insurance_program.py
  ergodic_insurance/simulation.py
  ergodic_insurance/tests/test_insurance_program.py
Due: mypy, pylint

docs: update architecture diagrams for standalone MC functions (#1301)
  ergodic_insurance/docs/architecture/class_diagrams/core_classes.md
  ergodic_insurance/docs/architecture/monte_carlo_architecture.md
Due: none

fix: resolve closing entries bugs in float mode, tax/cash reconciliation, and insurance recovery (#1297)
  ergodic_insurance/manufacturer_balance_sheet.py
  ergodic_insurance/manufacturer_claims.py
  ergodic_insurance/manufacturer_income.py
Due: mypy

fix: move MC classmethods off Simulation to standalone functions (#1301) (#1413)
  ergodic_insurance/__init__.py
  ergodic_insurance/_compare_strategies.py
  ergodic_insurance/docs/architecture/class_diagrams/core_classes.md
  ergodic_insurance/docs/architecture/monte_carlo_architecture.md
  ergodic_insurance/simulation.py
  ergodic_insurance/tests/test_simulation_coverage.py
Due: mypy, pylint

fix: correct closing entries tax/cash residual and update test assertions (#1297)
  ergodic_insurance/manufacturer_balance_sheet.py
  ergodic_insurance/manufacturer_income.py
  ergodic_insurance/tests/test_lae_tracking.py
  ergodic_insurance/tests/test_manufacturer.py
  ergodic_insurance/tests/test_manufacturer_methods.py
  ergodic_insurance/tests/test_revenue_ar_accrual.py
  ergodic_insurance/tests/test_working_capital_timing.py
Due: mypy, pylint

fix: close ALL temporary accounts in GAAP closing entries (#1297) (#1409)
  ergodic_insurance/manufacturer_balance_sheet.py
  ergodic_insurance/manufacturer_claims.py
  ergodic_insurance/manufacturer_income.py
  ergodic_insurance/tests/test_accrual_integration.py
  ergodic_insurance/tests/test_balance_sheet_cash_depreciation.py
  ergodic_insurance/tests/test_closing_entry_depreciation.py
  ergodic_insurance/tests/test_lae_tracking.py
  ergodic_insurance/tests/test_manufacturer.py
  ergodic_insurance/tests/test_manufacturer_methods.py
  ergodic_insurance/tests/test_revenue_ar_accrual.py
  ergodic_insurance/tests/test_working_capital_timing.py
Due: mypy, pylint

fix: add working capital facility limit for liquidity-driven insolvency detection (#1337)
  ergodic_insurance/config/manufacturer.py
  ergodic_insurance/manufacturer.py
  ergodic_insurance/manufacturer_solvency.py
  ergodic_insurance/tests/test_facility_limit_insolvency.py
Due: mypy, pylint

fix: add working capital facility limit for liquidity-driven insolvency detection (#1337) (#1415)
  ergodic_insurance/config/manufacturer.py
  ergodic_insurance/manufacturer.py
  ergodic_insurance/manufacturer_solvency.py
  ergodic_insurance/tests/test_facility_limit_insolvency.py
Due: mypy, pylint

chore(release): v0.11.0
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

ci: add PyPI trusted publishing to release workflow
  .github/workflows/release.yml
  docs/ROADMAP_2026_02_12.md
Due: none

ci: add PyPI trusted publishing to release workflow (#1514)
  .github/workflows/release.yml
  docs/ROADMAP_2026_02_12.md
Due: none

chore(release): v0.12.0
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

fix: compute pure premium as mean annual aggregate instead of freq*sev
  ergodic_insurance/data/config/modules/insurance.yaml
  ergodic_insurance/insurance_pricing.py
  ergodic_insurance/notebooks/reconciliation/09_premium_vs_expected_loss.ipynb
  ergodic_insurance/tests/test_insurance_pricing.py
Due: mypy, pylint

fix(ci): disable attestations in PyPI publish to resolve 400 error
  .github/workflows/release.yml
Due: none

fix(ci): skip unknown commits in changelog templates to prevent ParseError crash
  pyproject.toml
  templates/.release_notes.md.j2
  templates/CHANGELOG.md.j2
Due: none

chore(release): v0.13.0
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

docs: updated notebooks to run in Colab and fixed README images for PyPI
  README.md
  ergodic_insurance/notebooks/reconciliation/01_balance_sheet_identity.ipynb
  ergodic_insurance/notebooks/reconciliation/02_cash_flow_reconciliation.ipynb
  ergodic_insurance/notebooks/reconciliation/03_insurance_layer_allocation.ipynb
  ergodic_insurance/notebooks/reconciliation/04_claim_development_patterns.ipynb
  ergodic_insurance/notebooks/reconciliation/05_loss_distribution_calibration.ipynb
  ergodic_insurance/notebooks/reconciliation/06_tax_and_nol_carryforward.ipynb
  ergodic_insurance/notebooks/reconciliation/07_ergodic_vs_ensemble_divergence.ipynb
  ergodic_insurance/notebooks/reconciliation/08_monte_carlo_convergence.ipynb
  ergodic_insurance/notebooks/reconciliation/09_premium_vs_expected_loss.ipynb
  ergodic_insurance/notebooks/reconciliation/10_end_to_end_pipeline.ipynb
Due: none

chore(release): v0.13.1
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

fix: update README.md
  README.md
  assets/sample_optmal_insurance_config_by_company_size.png
  assets/strategy_performance_walkforward.png
Due: none

chore(release): v0.13.2
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

fix: correct ergodic gap calculation in reconciliation notebook 07
  ergodic_insurance/notebooks/reconciliation/07_ergodic_vs_ensemble_divergence.ipynb
Due: none

fix: when retention is higher than certain layers, skip them during program definition. Also new HJB exploration.
  ergodic_insurance/insurance_program.py
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: mypy

fix: recalibrate notebook 07 insurance pricing to produce genuine SIR tradeoff
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

chore(release): v0.13.3
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

docs: working paper inviting collab, useful prompts to refactor
  docs/USEFUL_PROMPTS.md
  ergodic_insurance/papers/2026-02-working-paper-1/working-paper-1.pdf
  ergodic_insurance/papers/2026-02-working-paper-1/working-paper-1.tex
Due: none

fix: pareto analysis and fixed text in hjb example
  ergodic_insurance/notebooks/optimization/03_pareto_analysis.ipynb
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

Path conditions:
  mypy: any of: ^ergodic_insurance/ and \.py$
  pylint: any of: ^ergodic_insurance/(src|tests)/ and \.py$
