Repository AlexFiliakov/Ergodic-Insurance-Limits: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Black - Python code formatter
  # No `files` filter — matches CI's `black --check --diff .`
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        args: [--line-length=100]

  # isort - Python import sorter
  # No `files` filter — matches CI's `isort --check-only --diff .`
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # MyPy - Static type checker
  # Local hook runs mypy on the full package (matching CI's
  # `mypy ergodic_insurance/ --ignore-missing-imports`) so that
  # cross-file errors are caught before push, not just in changed files.
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: python -m mypy ergodic_insurance/ --ignore-missing-imports
        language: system
        types: [python]
        files: ^ergodic_insurance/
        pass_filenames: false

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=20480]  # 20MB limit for all files
        exclude: \.(ipynb|html)$  # Notebooks and HTML reports can be any size
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Conventional Commits - enforce commit message format
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

  # Pylint - Python linter (optional, can be slow)
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python -m pylint
        language: system
        types: [python]
        files: ^ergodic_insurance/(src|tests)/
        args: [--rcfile=pyproject.toml]

chore(release): v0.9.0
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

perf: memoize MC engine results in optimize_limits (#493)
  ergodic_insurance/strategy_backtester.py
  ergodic_insurance/tests/test_strategy_backtester_coverage.py
Due: mypy, pylint

perf: vectorize bootstrap VaR/TVaR CI with chunked numpy ops
  ergodic_insurance/risk_metrics.py
Due: mypy

perf: replace deepcopy with shallow copies and add parallel two-way analysis (#484, #492)
  ergodic_insurance/sensitivity.py
  ergodic_insurance/tests/test_sensitivity.py
Due: mypy, pylint

perf: vectorize bootstrap VaR/TVaR CI with chunked numpy ops (#597)
  ergodic_insurance/risk_metrics.py
Due: mypy

perf: replace deepcopy with shallow copies and add parallel two-way analysis (#484, #492) (#598)
  ergodic_insurance/sensitivity.py
  ergodic_insurance/tests/test_sensitivity.py
Due: mypy, pylint

perf: memoize MC engine results in optimize_limits (#493) (#596)
  ergodic_insurance/strategy_backtester.py
  ergodic_insurance/tests/test_strategy_backtester_coverage.py
Due: mypy, pylint

ci: exclude performance benchmarks from CI with @pytest.mark.benchmark
  ergodic_insurance/pytest.ini
  ergodic_insurance/tests/conftest.py
  ergodic_insurance/tests/integration/test_critical_integrations.py
  ergodic_insurance/tests/integration/test_simulation_pipeline.py
  ergodic_insurance/tests/test_autocorrelation_fft_380.py
  ergodic_insurance/tests/test_benchmarking.py
  ergodic_insurance/tests/test_cache_manager.py
  ergodic_insurance/tests/test_claim_development.py
  ergodic_insurance/tests/test_end_to_end.py
  ergodic_insurance/tests/test_insurance_program.py
  ergodic_insurance/tests/test_integration.py
  ergodic_insurance/tests/test_loss_distributions.py
  ergodic_insurance/tests/test_monte_carlo_extended.py
  ergodic_insurance/tests/test_parallel_executor.py
  ergodic_insurance/tests/test_performance.py
  ergodic_insurance/tests/test_report_generation.py
  ergodic_insurance/tests/test_risk_metrics.py
  ergodic_insurance/tests/test_scenario_batch.py
  ergodic_insurance/tests/test_simulation.py
  ergodic_insurance/tests/test_skipped_slow_tests.py
  ergodic_insurance/tests/test_trajectory_storage.py
  pyproject.toml
Due: mypy, pylint

ci: exclude performance benchmarks from CI with @pytest.mark.benchmark (#599)
  ergodic_insurance/pytest.ini
  ergodic_insurance/tests/conftest.py
  ergodic_insurance/tests/integration/test_critical_integrations.py
  ergodic_insurance/tests/integration/test_simulation_pipeline.py
  ergodic_insurance/tests/test_autocorrelation_fft_380.py
  ergodic_insurance/tests/test_benchmarking.py
  ergodic_insurance/tests/test_cache_manager.py
  ergodic_insurance/tests/test_claim_development.py
  ergodic_insurance/tests/test_end_to_end.py
  ergodic_insurance/tests/test_insurance_program.py
  ergodic_insurance/tests/test_integration.py
  ergodic_insurance/tests/test_loss_distributions.py
  ergodic_insurance/tests/test_monte_carlo_extended.py
  ergodic_insurance/tests/test_parallel_executor.py
  ergodic_insurance/tests/test_performance.py
  ergodic_insurance/tests/test_report_generation.py
  ergodic_insurance/tests/test_risk_metrics.py
  ergodic_insurance/tests/test_scenario_batch.py
  ergodic_insurance/tests/test_simulation.py
  ergodic_insurance/tests/test_skipped_slow_tests.py
  ergodic_insurance/tests/test_trajectory_storage.py
  pyproject.toml
Due: mypy, pylint

chore: created prompt for future issue #600
  docs/PROMPT_REFACTOR_NOTEBOOKS.md
Due: none

perf: heap-based SmartCache eviction and hash-based cache keys (#498, #499)
  ergodic_insurance/performance_optimizer.py
  ergodic_insurance/tests/test_performance_optimizer.py
Due: mypy, pylint

perf: reuse BusinessOptimizer in ParameterSweeper._run_single (#497)
  ergodic_insurance/business_optimizer.py
  ergodic_insurance/parameter_sweep.py
  ergodic_insurance/tests/test_business_optimizer.py
  ergodic_insurance/tests/test_parameter_sweep.py
Due: mypy, pylint

perf: parallelize walk-forward validation windows with ProcessPoolExecutor (#495)
  ergodic_insurance/tests/test_walk_forward.py
  ergodic_insurance/walk_forward_validator.py
Due: mypy, pylint

perf: reuse BusinessOptimizer in ParameterSweeper._run_single (#497) (#602)
  ergodic_insurance/business_optimizer.py
  ergodic_insurance/parameter_sweep.py
  ergodic_insurance/tests/test_business_optimizer.py
  ergodic_insurance/tests/test_parameter_sweep.py
Due: mypy, pylint

perf: parallelize walk-forward validation windows with ProcessPoolExecutor (#495) (#603)
  ergodic_insurance/tests/test_walk_forward.py
  ergodic_insurance/walk_forward_validator.py
Due: mypy, pylint

perf: heap-based SmartCache eviction and hash-based cache keys (#498, #499) (#604)
  ergodic_insurance/performance_optimizer.py
  ergodic_insurance/tests/test_performance_optimizer.py
Due: mypy, pylint

perf: vectorize transition counting in raftery_lewis_diagnostic (#505)
  ergodic_insurance/convergence_advanced.py
Due: mypy

perf: vectorize ParetoFrontier dominance and Monte Carlo hypervolume (#501, #503)
  ergodic_insurance/pareto_frontier.py
Due: mypy

perf: vectorize rolling_statistics and return_period_curve (#483, #506)
  ergodic_insurance/risk_metrics.py
Due: mypy

perf: vectorize rolling_statistics and return_period_curve (#483, #506) (#608)
  ergodic_insurance/risk_metrics.py
Due: mypy

perf: vectorize ParetoFrontier dominance and Monte Carlo hypervolume (#501, #503) (#607)
  ergodic_insurance/pareto_frontier.py
Due: mypy

perf: vectorize transition counting in raftery_lewis_diagnostic (#505) (#606)
  ergodic_insurance/convergence_advanced.py
Due: mypy

refactor: adopt SeedSequence.spawn() for walk-forward validation window seeding (#605)
  ergodic_insurance/tests/test_walk_forward.py
  ergodic_insurance/walk_forward_validator.py
Due: mypy, pylint

perf: replace directory tree walk with incremental disk usage tracking (#399)
  ergodic_insurance/tests/test_trajectory_storage.py
  ergodic_insurance/trajectory_storage.py
Due: mypy, pylint

chore: prompt to review the framework using a team
  docs/PROMPT_IDENTIFY_ISSUES.md
Due: none

refactor: adopt SeedSequence.spawn() for walk-forward validation window seeding (#605) (#609)
  ergodic_insurance/tests/test_walk_forward.py
  ergodic_insurance/walk_forward_validator.py
Due: mypy, pylint

perf: replace directory tree walk with incremental disk usage tracking (#399) (#610)
  ergodic_insurance/tests/test_trajectory_storage.py
  ergodic_insurance/trajectory_storage.py
Due: mypy, pylint

refactor: decompose ergodic_analyzer.py into focused modules (#309)
  ergodic_insurance/__init__.py
  ergodic_insurance/ergodic_analyzer.py
  ergodic_insurance/ergodic_types.py
  ergodic_insurance/integrated_analysis.py
  ergodic_insurance/scenario_analysis.py
Due: mypy

refactor: decompose ergodic_analyzer.py into focused modules (#309) (#611)
  ergodic_insurance/__init__.py
  ergodic_insurance/ergodic_analyzer.py
  ergodic_insurance/ergodic_types.py
  ergodic_insurance/integrated_analysis.py
  ergodic_insurance/scenario_analysis.py
Due: mypy

chore: gitignore and useful prompts
  .gitignore
  docs/PROMPT_IDENTIFY_ISSUES.md
  docs/USEFUL_PROMPTS.md
Due: none

fix: sanitize profile names to prevent path traversal in ConfigManager (#620)
  ergodic_insurance/config_manager.py
  ergodic_insurance/tests/test_config_manager_security.py
Due: mypy, pylint

fix: add missing debit entry for insurance receivables in ledger (#625)
  ergodic_insurance/manufacturer_claims.py
  ergodic_insurance/tests/test_recovery_accounting.py
Due: mypy, pylint

fix: cache net income in step() to prevent calculate_metrics() double-firing tax (#617)
  ergodic_insurance/manufacturer.py
  ergodic_insurance/manufacturer_metrics.py
  ergodic_insurance/tests/test_metrics_double_tax.py
Due: mypy, pylint

fix: sanitize profile names to prevent path traversal in ConfigManager (#620) (#692)
  ergodic_insurance/config_manager.py
  ergodic_insurance/tests/test_config_manager_security.py
Due: mypy, pylint

fix: restrict HMAC key file permissions to prevent local attackers (#613)
  ergodic_insurance/safe_pickle.py
  ergodic_insurance/tests/test_safe_pickle_coverage.py
Due: mypy, pylint

fix: use deterministic rng in flaky log-distribution test
  ergodic_insurance/tests/test_scenario_batch.py
Due: mypy, pylint

fix: recalibrate ergodic advantage test for correct tax accounting (#617)
  ergodic_insurance/tests/test_integration.py
Due: mypy, pylint

fix: restrict HMAC key file permissions to prevent local attackers (#613) (#695)
  ergodic_insurance/safe_pickle.py
  ergodic_insurance/tests/test_safe_pickle_coverage.py
Due: mypy, pylint

chore: add useful prompts
  docs/USEFUL_PROMPTS.md
Due: none
