Repository AlexFiliakov/Ergodic-Insurance-Limits: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Black - Python code formatter
  # No `files` filter — matches CI's `black --check --diff .`
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        args: [--line-length=100]

  # isort - Python import sorter
  # No `files` filter — matches CI's `isort --check-only --diff .`
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # MyPy - Static type checker
  # Local hook runs mypy on the full package (matching CI's
  # `mypy ergodic_insurance/ --ignore-missing-imports`) so that
  # cross-file errors are caught before push, not just in changed files.
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: python -m mypy ergodic_insurance/ --ignore-missing-imports
        language: system
        types: [python]
        files: ^ergodic_insurance/
        pass_filenames: false

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=20480]  # 20MB limit for all files
        exclude: \.(ipynb|html)$  # Notebooks and HTML reports can be any size
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Conventional Commits - enforce commit message format
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

  # Pylint - Python linter (optional, can be slow)
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python -m pylint
        language: system
        types: [python]
        files: ^ergodic_insurance/(src|tests)/
        args: [--rcfile=pyproject.toml]

fix: update ruin-marking tests for create_fresh factory (#366)
  ergodic_insurance/tests/test_coverage_gaps_batch1.py
Due: mypy, pylint

perf: replace deepcopy with factory reset in worker hot loop (#430)
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CLAUDE.md
  ergodic_insurance/manufacturer.py
  ergodic_insurance/monte_carlo_worker.py
  ergodic_insurance/parallel_executor.py
  ergodic_insurance/tests/test_coverage_gaps_batch1.py
  ergodic_insurance/tests/test_coverage_gaps_parallel_executor.py
  ergodic_insurance/tests/test_misc_gaps_coverage.py
  ergodic_insurance/tests/test_result_aggregation.py
  ergodic_insurance/tests/test_sensitivity_visualization.py
  ergodic_insurance/tests/test_skipped_slow_tests.py
  ergodic_insurance/tests/test_technical_plots.py
  ergodic_insurance/tests/test_visualization_comprehensive.py
  ergodic_insurance/tests/test_visualization_extended.py
  generate_docs_images.py
  test_migration.py
  test_notebooks.py
  test_single_notebook.py
  update_docs_batch.py
Due: mypy, pylint

fix: correct sign error in augmented Lagrangian slack threshold (#381)
  ergodic_insurance/optimization.py
  ergodic_insurance/tests/test_optimization.py
Due: mypy, pylint

fix: correct sign error in augmented Lagrangian slack threshold (#381) (#431)
  ergodic_insurance/optimization.py
  ergodic_insurance/tests/test_optimization.py
Due: mypy, pylint

fix: resolve operator precedence bug in augmented Lagrangian penalty update (#385)
  ergodic_insurance/optimization.py
  ergodic_insurance/tests/test_optimization.py
Due: mypy, pylint

fix: resolve operator precedence bug in augmented Lagrangian penalty update (#385) (#432)
  ergodic_insurance/optimization.py
  ergodic_insurance/tests/test_optimization.py
Due: mypy, pylint

fix: stop retained earnings from inflating operating cash flow (#370)
  ergodic_insurance/ledger.py
  ergodic_insurance/manufacturer_balance_sheet.py
  ergodic_insurance/tests/test_dividend_phantom_payments.py
Due: mypy, pylint

fix: stop retained earnings from inflating operating cash flow (#370) (#433)
  ergodic_insurance/ledger.py
  ergodic_insurance/manufacturer_balance_sheet.py
  ergodic_insurance/tests/test_dividend_phantom_payments.py
Due: mypy, pylint

fix: route liquid asset reductions through income statement (ASC 360) (#379)
  ergodic_insurance/financial_statements.py
  ergodic_insurance/ledger.py
  ergodic_insurance/manufacturer_balance_sheet.py
  ergodic_insurance/tests/test_manufacturer_coverage.py
Due: mypy, pylint

fix: route liquid asset reductions through income statement (ASC 360) (#379) (#434)
  ergodic_insurance/financial_statements.py
  ergodic_insurance/ledger.py
  ergodic_insurance/manufacturer_balance_sheet.py
  ergodic_insurance/tests/test_manufacturer_coverage.py
Due: mypy, pylint

feat: implement NOL carryforward tracking per ASC 740 (#365)
  ergodic_insurance/config.py
  ergodic_insurance/financial_statements.py
  ergodic_insurance/ledger.py
  ergodic_insurance/manufacturer.py
  ergodic_insurance/manufacturer_balance_sheet.py
  ergodic_insurance/manufacturer_income.py
  ergodic_insurance/tax_handler.py
  ergodic_insurance/tests/test_nol_carryforward.py
  ergodic_insurance/tests/test_tax_handling.py
Due: mypy, pylint

fix: guard None ledger and disable NOL in pre-existing tests (#365)
  ergodic_insurance/financial_statements.py
  ergodic_insurance/tests/test_accrual_integration.py
  ergodic_insurance/tests/test_coverage_gaps_batch1.py
  ergodic_insurance/tests/test_nol_carryforward.py
  ergodic_insurance/tests/test_roe_insurance.py
Due: mypy, pylint

feat: implement NOL carryforward tracking per ASC 740 (#365) (#435)
  ergodic_insurance/config.py
  ergodic_insurance/financial_statements.py
  ergodic_insurance/ledger.py
  ergodic_insurance/manufacturer.py
  ergodic_insurance/manufacturer_balance_sheet.py
  ergodic_insurance/manufacturer_income.py
  ergodic_insurance/tax_handler.py
  ergodic_insurance/tests/test_accrual_integration.py
  ergodic_insurance/tests/test_coverage_gaps_batch1.py
  ergodic_insurance/tests/test_nol_carryforward.py
  ergodic_insurance/tests/test_roe_insurance.py
  ergodic_insurance/tests/test_tax_handling.py
Due: mypy, pylint

feat: add sensible defaults to Config so Config() works with no args (#369)
  README.md
  ergodic_insurance/__init__.py
  ergodic_insurance/config.py
  ergodic_insurance/docs/tutorials/01_getting_started.md
  ergodic_insurance/docs/tutorials/02_basic_simulation.md
  ergodic_insurance/docs/user_guide/quick_start.rst
  ergodic_insurance/tests/test_config.py
Due: mypy, pylint

feat: add sensible defaults to Config so Config() works with no args (#369) (#436)
  README.md
  ergodic_insurance/__init__.py
  ergodic_insurance/config.py
  ergodic_insurance/docs/tutorials/01_getting_started.md
  ergodic_insurance/docs/tutorials/02_basic_simulation.md
  ergodic_insurance/docs/user_guide/quick_start.rst
  ergodic_insurance/tests/test_config.py
Due: mypy, pylint

feat: add run_analysis() quick-start factory for common actuarial workflows (#372)
  README.md
  ergodic_insurance/__init__.py
  ergodic_insurance/_run_analysis.py
  ergodic_insurance/docs/tutorials/01_getting_started.md
  ergodic_insurance/docs/tutorials/02_basic_simulation.md
  ergodic_insurance/docs/user_guide/quick_start.rst
  ergodic_insurance/tests/test_run_analysis.py
Due: mypy, pylint

feat: add run_analysis() quick-start factory for common actuarial workflows (#372) (#437)
  README.md
  ergodic_insurance/__init__.py
  ergodic_insurance/_run_analysis.py
  ergodic_insurance/docs/tutorials/01_getting_started.md
  ergodic_insurance/docs/tutorials/02_basic_simulation.md
  ergodic_insurance/docs/user_guide/quick_start.rst
  ergodic_insurance/tests/test_run_analysis.py
Due: mypy, pylint

feat: export core actuarial classes from package root, relocate internals (#405)
  ergodic_insurance/__init__.py
  ergodic_insurance/docs/insurance_optimization.rst
  ergodic_insurance/docs/quick_start.rst
  ergodic_insurance/docs/tutorials/06_advanced_scenarios.md
  ergodic_insurance/internals.py
  ergodic_insurance/tests/test_imports.py
Due: mypy, pylint

feat: simplify import paths across documentation and modules
  build/lib/reporting/executive_report.py
  build/lib/reporting/scenario_comparator.py
  build/lib/reporting/table_generator.py
  build/lib/visualization/annotations.py
  build/lib/visualization/style_manager.py
  build/lib/visualization/technical_plots.py
  build/lib/visualization_infra/style_manager.py
  ergodic_insurance/config.py
  ergodic_insurance/docs/tutorials/01_getting_started.md
  ergodic_insurance/docs/tutorials/02_basic_simulation.md
  ergodic_insurance/docs/tutorials/03_configuring_insurance.md
  ergodic_insurance/docs/tutorials/05_analyzing_results.md
  ergodic_insurance/docs/tutorials/06_advanced_scenarios.md
  ergodic_insurance/docs/tutorials/troubleshooting.md
  ergodic_insurance/docs/user_guide/case_studies.rst
  ergodic_insurance/docs/user_guide/running_analysis.rst
  ergodic_insurance/ergodic_analyzer.py
  ergodic_insurance/manufacturer.py
  ergodic_insurance/simulation.py
Due: mypy

feat: export core actuarial classes and simplify import paths (#405) (#438)
  build/lib/reporting/executive_report.py
  build/lib/reporting/scenario_comparator.py
  build/lib/reporting/table_generator.py
  build/lib/visualization/annotations.py
  build/lib/visualization/style_manager.py
  build/lib/visualization/technical_plots.py
  build/lib/visualization_infra/style_manager.py
  ergodic_insurance/__init__.py
  ergodic_insurance/config.py
  ergodic_insurance/docs/insurance_optimization.rst
  ergodic_insurance/docs/quick_start.rst
  ergodic_insurance/docs/tutorials/01_getting_started.md
  ergodic_insurance/docs/tutorials/02_basic_simulation.md
  ergodic_insurance/docs/tutorials/03_configuring_insurance.md
  ergodic_insurance/docs/tutorials/05_analyzing_results.md
  ergodic_insurance/docs/tutorials/06_advanced_scenarios.md
  ergodic_insurance/docs/tutorials/troubleshooting.md
  ergodic_insurance/docs/user_guide/case_studies.rst
  ergodic_insurance/docs/user_guide/running_analysis.rst
  ergodic_insurance/ergodic_analyzer.py
  ergodic_insurance/internals.py
  ergodic_insurance/manufacturer.py
  ergodic_insurance/simulation.py
  ergodic_insurance/tests/test_imports.py
Due: mypy, pylint

ci: add pip dependency caching to tests and docs workflows (#413)
  .github/workflows/docs.yml
  .github/workflows/tests.yml
Due: none

ci: add pip dependency caching to tests and docs workflows (#413) (#440)
  .github/workflows/docs.yml
  .github/workflows/tests.yml
Due: none

ci: add build/package validation step to test workflow (#425)
  .github/workflows/tests.yml
Due: none

chore: gitignore Python packaging artifacts (dist, build, egg-info)
  .gitignore
Due: none

ci: post coverage report as PR comment and job summary (#420)
  .github/workflows/tests.yml
Due: none

ci: add build/package validation step to test workflow (#441)
  .github/workflows/tests.yml
  .gitignore
Due: none

ci: post coverage report as PR comment and job summary (#420) (#442)
  .github/workflows/tests.yml
Due: none

ci: reformat CHANGELOG.md to Keep a Changelog standard and add automation templates (#424)
  CHANGELOG.md
  pyproject.toml
  templates/.release_notes.md.j2
  templates/CHANGELOG.md.j2
Due: none

ci: reformat CHANGELOG.md to Keep a Changelog standard and add automation templates (#424) (#443)
  CHANGELOG.md
  pyproject.toml
  templates/.release_notes.md.j2
  templates/CHANGELOG.md.j2
Due: none

chore: update CLAUDE.md
  CLAUDE.md
Due: none

fix: correct trust-region fallback and gradient convergence check in optimization (#351)
  ergodic_insurance/optimization.py
  ergodic_insurance/tests/test_optimization_coverage.py
Due: mypy, pylint

fix: correct trust-region fallback and gradient convergence check in optimization (#351) (#445)
  ergodic_insurance/optimization.py
  ergodic_insurance/tests/test_optimization_coverage.py
Due: mypy, pylint

fix: correct multiple mathematical errors in HJB solver (#300)
  ergodic_insurance/hjb_solver.py
  ergodic_insurance/optimal_control.py
  ergodic_insurance/tests/test_hjb_numerical.py
Due: mypy, pylint

feat: ergodic defaults, quick-start API, NOL tracking, and optimizer fixes (#444)
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  ergodic_insurance/optimization.py
  ergodic_insurance/tests/test_optimization_coverage.py
  pyproject.toml
  templates/.release_notes.md.j2
  templates/CHANGELOG.md.j2
Due: mypy, pylint

fix: correct multiple mathematical errors in HJB solver (#300) (#446)
  ergodic_insurance/hjb_solver.py
  ergodic_insurance/optimal_control.py
  ergodic_insurance/tests/test_hjb_numerical.py
Due: mypy, pylint

fix: resolve decision engine infinite recursion and use ergodic growth rate (#303)
  ergodic_insurance/decision_engine.py
  ergodic_insurance/tests/test_decision_engine.py
  ergodic_insurance/tests/test_decision_engine_scenarios.py
Due: mypy, pylint

fix: skip unparseable commits in changelog templates
  templates/.release_notes.md.j2
  templates/CHANGELOG.md.j2
Due: none

fix: resolve decision engine infinite recursion and use ergodic growth rate (#303) (#455)
  ergodic_insurance/decision_engine.py
  ergodic_insurance/tests/test_decision_engine.py
  ergodic_insurance/tests/test_decision_engine_scenarios.py
Due: mypy, pylint

fix: skip unparseable commits in changelog templates (#456)
  templates/.release_notes.md.j2
  templates/CHANGELOG.md.j2
Due: none
