Repository AlexFiliakov/Ergodic-Insurance-Limits: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: python -m mypy ergodic_insurance/ --ignore-missing-imports
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: python -m pylint
  language: system
  args:
  - --rcfile=pyproject.toml

chore: CLAUDE.md focusing
  CLAUDE.md
Due: none

docs: optimization no7 enhancements (incl. boundary conditions) and documentation
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: calibrating optimization no7 notebook
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

chore(release): v0.16.0
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

docs: ran interim notebook optimization no7
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: ran optimization no7 notebook with LR=0.8
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

feat(hjb): add solve_finite_horizon backward time-march
  ergodic_insurance/hjb_solver.py
  ergodic_insurance/tests/test_hjb_solver.py
Due: mypy, pylint

fix(hjb): finite-horizon reformulation of notebook 07 + policy boundary sanitization
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

chore(release): v0.17.0
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

docs: debugging optimization no7 notebook
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 notebook added equity for 2-D HJB sweep
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 notebook debugging and improvements
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 notebook 2-state simple model with beta reserve drawdown
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 notebook ran Colab with recent updates
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 notebook cleanup
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: preliminary resolution of optimization no7 notebook issues #1588 and #1579
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: ran optimization no7 notebook
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 issues #1582, #1587, and #1590 coded, ready to run
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: ran optimization no7 notebook in Colab
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 notebook calibrating, need to run Colab
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 notebook additional calibrations
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: de-jitter SIR(A,e) display + refresh Part 7/11 narrative (#1582, #1603, #1605, #1606)
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: updated markdown in optimization no7 nb
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

fix: add an explicit-fixed-dt scheme
  ergodic_insurance/hjb_solver.py
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
  ergodic_insurance/tests/test_hjb_solver.py
Due: mypy, pylint

feat(hjb): expose per-term Hamiltonian for faithful Part-6b decomposition
  ergodic_insurance/hjb_solver.py
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
  ergodic_insurance/tests/test_hjb_solver.py
Due: mypy, pylint

feat(hjb): linear off-grid jump-term interp (#1612) + basin-anchored cell-18 tolerance (#1614)
  ergodic_insurance/hjb_quadrature.py
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
  ergodic_insurance/tests/test_hjb_quadrature.py
Due: mypy, pylint

fix(hjb): equity-ratio diffusion uses |1-k-e| not max (#1613)
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: ran optimization no7 nb
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

fix: resolving issues #1604, #1618, #1619, #1620, #1621
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
  ergodic_insurance/tests/test_hjb_solver.py
Due: mypy, pylint

docs(hjb): demonstrate #1614 basin tolerance in cell-18 (#1620), shade pre-ruin gamble band (#1619)
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 nb implemented 10-year paydown schedule issue #1597
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs(hjb): Wang-distortion pricing for excess/cat layers in notebook 07 (#1601)
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 nb result from Colab
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs(hjb): cache the static Wang loading schedule + commit validated run 07 (#1601, #1597)
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: calibrating config in optimization no7 nb
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

Path conditions:
  mypy: any of: ^ergodic_insurance/ and \.py$
  pylint: any of: ^ergodic_insurance/(src|tests)/ and \.py$
