Repository AlexFiliakov/Ergodic-Insurance-Limits: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Black - Python code formatter
  # No `files` filter — matches CI's `black --check --diff .`
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        args: [--line-length=100]

  # isort - Python import sorter
  # No `files` filter — matches CI's `isort --check-only --diff .`
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # MyPy - Static type checker
  # Local hook runs mypy on the full package (matching CI's
  # `mypy ergodic_insurance/ --ignore-missing-imports`) so that
  # cross-file errors are caught before push, not just in changed files.
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: python -m mypy ergodic_insurance/ --ignore-missing-imports
        language: system
        types: [python]
        files: ^ergodic_insurance/
        pass_filenames: false

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=20480]  # 20MB limit for all files
        exclude: \.(ipynb|html)$  # Notebooks and HTML reports can be any size
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Conventional Commits - enforce commit message format
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

  # Pylint - Python linter (optional, can be slow)
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python -m pylint
        language: system
        types: [python]
        files: ^ergodic_insurance/(src|tests)/
        args: [--rcfile=pyproject.toml]

feat(hjb): replace the hand-set kappa cap with a knob-free N-event retention bound (#1659)
  ergodic_insurance/hjb_quadrature.py
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
  ergodic_insurance/tests/test_hjb_quadrature.py
Due: mypy, pylint

docs: ran optimization no7 nb
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

feat(nb07): fixed-policy sensitivity sweep + premium-loading review; charts to 150 DPI (#1650, #1641)
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
  ergodic_insurance/tests/test_nb07_sensitivity.py
Due: mypy, pylint

docs: ee lecture slides draft 1
  ergodic_insurance/notebooks/optimization/07_HJB_INSURANCE_OPTIMIZATION_SLIDES.md
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/appendix_full-model-regret.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/appendix_hamiltonian-sir-diagnostic.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/appendix_premium-loading-sensitivity.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/appendix_sensitivity-full-model.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/appendix_sensitivity-tornado.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/appendix_strategy-showdown.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/appendix_vruin-robustness.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/appendix_walk-forward-full.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/appendix_walk-forward-simple.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/extra_growth-function-derivatives.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/extra_hamiltonian-decomposition.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/extra_hjb-dominant-force.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/extra_part5-same-storms-trajectories.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/extra_paydown-shape-diagnostic.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/slide02_coin-flip-ergodicity-paradox.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/slide07_hjb-balance-of-forces.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/slide08_optimal-policy-surface.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/slide10_equity-trajectories.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/slide11_ergodic-advantage-at-a-glance.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/slide12_ergodic-attribution-waterfall.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/slide13_regret-analysis.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/slide14_value-of-insurance-regime-gamma-sweep.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/slide15_breakeven-premium-loading.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/slide15_insurance-restores-ergodicity.png
  ergodic_insurance/notebooks/optimization/07_hjb_slides_figures/slide15_value-vs-firm-size.png
Due: none

docs: simplified model doc
  ergodic_insurance/notebooks/optimization/07_HJB_SIMPLIFIED_MODEL.md
Due: none

docs: explain g_CE
  ergodic_insurance/notebooks/optimization/07_HJB_SIMPLIFIED_MODEL.md
Due: none

docs: explaining model simplifications
  ergodic_insurance/notebooks/optimization/07_HJB_SIMPLIFIED_MODEL.pdf
Due: none

chore(release): v0.18.0
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

docs: added insurance primer
  ergodic_insurance/docs/user_guide/index.rst
  ergodic_insurance/docs/user_guide/insurance_primer.rst
Due: none
