Repository AlexFiliakov/Ergodic-Insurance-Limits: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: python -m mypy ergodic_insurance/ --ignore-missing-imports
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: python -m pylint
  language: system
  args:
  - --rcfile=pyproject.toml

fix: skip unparseable commits in changelog templates so semantic-release picks it up as a patch bump (#457)
  ergodic_insurance/decision_engine.py
  ergodic_insurance/hjb_solver.py
  ergodic_insurance/optimal_control.py
  ergodic_insurance/tests/test_decision_engine.py
  ergodic_insurance/tests/test_decision_engine_scenarios.py
  ergodic_insurance/tests/test_hjb_numerical.py
  templates/.release_notes.md.j2
  templates/CHANGELOG.md.j2
Due: mypy, pylint

fix: use PAT for semantic-release to bypass branch protection
  .github/workflows/release.yml
Due: none

fix: use PAT for semantic-release to bypass branch protection (#509)
  .github/workflows/release.yml
Due: none

chore(release): v0.5.0
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

chore: update latest code review
  docs/review_api_usability.md
  docs/review_financial.md
  docs/review_issues_validation.md
  docs/review_mathematical.md
  docs/review_performance.md
Due: none

fix: correct ESS and autocorrelation statistics in convergence diagnostics (#350)
  ergodic_insurance/convergence.py
  ergodic_insurance/convergence_advanced.py
  ergodic_insurance/tests/test_convergence_advanced_coverage.py
  ergodic_insurance/tests/test_convergence_bug350.py
Due: mypy, pylint

fix: correct ESS and autocorrelation statistics in convergence diagnostics (#350) (#510)
  ergodic_insurance/convergence.py
  ergodic_insurance/convergence_advanced.py
  ergodic_insurance/tests/test_convergence_advanced_coverage.py
  ergodic_insurance/tests/test_convergence_bug350.py
Due: mypy, pylint

fix: resolve BusinessOptimizer unreliable results (#352)
  ergodic_insurance/business_optimizer.py
  ergodic_insurance/config.py
  ergodic_insurance/tests/test_business_optimizer.py
Due: mypy, pylint

feat!: split config.py mega-module into config/ sub-package (#458)
  ergodic_insurance/config.py
  ergodic_insurance/config/__init__.py
  ergodic_insurance/config/constants.py
  ergodic_insurance/config/core.py
  ergodic_insurance/config/insurance.py
  ergodic_insurance/config/manufacturer.py
  ergodic_insurance/config/market.py
  ergodic_insurance/config/optimizer.py
  ergodic_insurance/config/presets.py
  ergodic_insurance/config/reporting.py
  ergodic_insurance/config/simulation.py
Due: mypy

fix: wire deductible through remaining objectives and premium constraint
  ergodic_insurance/business_optimizer.py
  ergodic_insurance/tests/test_business_optimizer.py
Due: mypy, pylint

fix: remove proportional asset revaluation that violates US GAAP (#472)
  ergodic_insurance/decision_engine.py
  ergodic_insurance/manufacturer_balance_sheet.py
  ergodic_insurance/tests/test_decision_engine_scenarios.py
  ergodic_insurance/tests/test_exposure_base.py
  ergodic_insurance/tests/test_manufacturer_coverage.py
  ergodic_insurance/tests/test_monte_carlo_extended.py
  ergodic_insurance/tests/test_monte_carlo_parallel.py
  ergodic_insurance/tests/test_roe_insurance.py
Due: mypy, pylint

feat!: split config.py mega-module into config/ sub-package (#458) (#512)
  ergodic_insurance/config.py
  ergodic_insurance/config/__init__.py
  ergodic_insurance/config/constants.py
  ergodic_insurance/config/core.py
  ergodic_insurance/config/insurance.py
  ergodic_insurance/config/manufacturer.py
  ergodic_insurance/config/market.py
  ergodic_insurance/config/optimizer.py
  ergodic_insurance/config/presets.py
  ergodic_insurance/config/reporting.py
  ergodic_insurance/config/simulation.py
Due: mypy

fix: remove proportional asset revaluation that violates US GAAP (#472) (#513)
  ergodic_insurance/decision_engine.py
  ergodic_insurance/manufacturer_balance_sheet.py
  ergodic_insurance/tests/test_decision_engine_scenarios.py
  ergodic_insurance/tests/test_exposure_base.py
  ergodic_insurance/tests/test_manufacturer_coverage.py
  ergodic_insurance/tests/test_monte_carlo_extended.py
  ergodic_insurance/tests/test_monte_carlo_parallel.py
  ergodic_insurance/tests/test_roe_insurance.py
Due: mypy, pylint

fix: resolve BusinessOptimizer unreliable results (#352) (#511)
  ergodic_insurance/business_optimizer.py
  ergodic_insurance/config/optimizer.py
  ergodic_insurance/tests/test_business_optimizer.py
Due: mypy, pylint

fix: add missing diffusion term (½σ²∇²V) to HJB solver (#447)
  ergodic_insurance/hjb_solver.py
  ergodic_insurance/optimal_control.py
  ergodic_insurance/tests/test_hjb_numerical.py
Due: mypy, pylint

fix: remove time-average growth rate clamp that biased ergodic comparisons (#474)
  ergodic_insurance/ergodic_analyzer.py
  ergodic_insurance/tests/test_ergodic_analyzer_coverage.py
Due: mypy, pylint

fix: correct parallel executor partial failure, SharedMemory leaks, and compression sizing (#356)
  ergodic_insurance/parallel_executor.py
  ergodic_insurance/tests/test_parallel_executor.py
  ergodic_insurance/tests/test_parallel_executor_coverage.py
Due: mypy, pylint

fix: add missing diffusion term (½σ²∇²V) to HJB solver (#447) (#514)
  ergodic_insurance/hjb_solver.py
  ergodic_insurance/optimal_control.py
  ergodic_insurance/tests/test_hjb_numerical.py
Due: mypy, pylint

fix: remove time-average growth rate clamp that biased ergodic comparisons (#474) (#515)
  ergodic_insurance/ergodic_analyzer.py
  ergodic_insurance/tests/test_ergodic_analyzer_coverage.py
Due: mypy, pylint

fix: correct parallel executor partial failure, SharedMemory leaks, and compression sizing (#356) (#516)
  ergodic_insurance/parallel_executor.py
  ergodic_insurance/tests/test_parallel_executor.py
  ergodic_insurance/tests/test_parallel_executor_coverage.py
Due: mypy, pylint

feat: add InsurancePolicy.from_simple() convenience constructor (#485)
  ergodic_insurance/_run_analysis.py
  ergodic_insurance/docs/tutorials/03_configuring_insurance.md
  ergodic_insurance/docs/tutorials/05_analyzing_results.md
  ergodic_insurance/docs/user_guide/quick_start.rst
  ergodic_insurance/insurance.py
  ergodic_insurance/tests/test_insurance.py
Due: mypy, pylint

fix: correct spectral density tau formula and PSD estimation (#476)
  ergodic_insurance/convergence_advanced.py
  ergodic_insurance/tests/test_convergence_bug476.py
Due: mypy, pylint

fix: set claim year_incurred to current_year instead of current_year - 1 (#491)
  ergodic_insurance/manufacturer_claims.py
  ergodic_insurance/tests/integration/test_critical_integrations.py
Due: mypy, pylint

feat: add InsurancePolicy.from_simple() convenience constructor (#485) (#518)
  ergodic_insurance/_run_analysis.py
  ergodic_insurance/docs/tutorials/03_configuring_insurance.md
  ergodic_insurance/docs/tutorials/05_analyzing_results.md
  ergodic_insurance/docs/user_guide/quick_start.rst
  ergodic_insurance/insurance.py
  ergodic_insurance/tests/test_insurance.py
Due: mypy, pylint

fix: set claim year_incurred to current_year instead of current_year - 1 (#491) (#520)
  ergodic_insurance/manufacturer_claims.py
  ergodic_insurance/tests/integration/test_critical_integrations.py
Due: mypy, pylint

fix: correct Sortino downside deviation to average over all observations (#386)
  ergodic_insurance/decision_engine.py
  ergodic_insurance/risk_metrics.py
  ergodic_insurance/simulation.py
  ergodic_insurance/tests/test_risk_metrics_coverage.py
Due: mypy, pylint

docs: use `from_simple` in example
  ergodic_insurance/simulation.py
Due: mypy

docs: updated quick start guide
  ergodic_insurance/docs/user_guide/quick_start.rst
Due: none

fix: correct Sortino downside deviation to average over all observations (#386) (#522)
  ergodic_insurance/decision_engine.py
  ergodic_insurance/risk_metrics.py
  ergodic_insurance/simulation.py
  ergodic_insurance/tests/test_risk_metrics_coverage.py
Due: mypy, pylint

feat: add periodic reserve re-estimation per ASC 944-40-25 (#470)
  ergodic_insurance/claim_liability.py
  ergodic_insurance/config/manufacturer.py
  ergodic_insurance/ledger.py
  ergodic_insurance/manufacturer.py
  ergodic_insurance/manufacturer_claims.py
  ergodic_insurance/manufacturer_income.py
  ergodic_insurance/manufacturer_metrics.py
  ergodic_insurance/tests/test_reserve_development.py
Due: mypy, pylint

feat: extract ~30 hardcoded parameters into configurable arguments (#517)
  ergodic_insurance/claim_development.py
  ergodic_insurance/config/optimizer.py
  ergodic_insurance/decision_engine.py
  ergodic_insurance/hjb_solver.py
  ergodic_insurance/loss_distributions.py
  ergodic_insurance/monte_carlo.py
  ergodic_insurance/optimal_control.py
  ergodic_insurance/tests/test_claim_development.py
  ergodic_insurance/tests/test_decision_engine.py
  ergodic_insurance/tests/test_hjb_solver.py
  ergodic_insurance/tests/test_loss_distributions.py
  ergodic_insurance/tests/test_optimal_control.py
Due: mypy, pylint

docs: update demo scripts
  ergodic_insurance/examples/__init__.py
  ergodic_insurance/examples/__main__.py
  ergodic_insurance/examples/benchmark_parallel.py
  ergodic_insurance/examples/demo_claim_development.py
  ergodic_insurance/examples/demo_collateral_management.py
  ergodic_insurance/examples/demo_config_practical.py
  ergodic_insurance/examples/demo_config_v2.py
  ergodic_insurance/examples/demo_excel_reports.py
  ergodic_insurance/examples/demo_insurance_pricing.py
  ergodic_insurance/examples/demo_manufacturer.py
  ergodic_insurance/examples/demo_stochastic.py
  ergodic_insurance/examples/test_notebook_comprehensive.py
  ergodic_insurance/examples/test_notebook_fixes.py
  ergodic_insurance/examples/test_smart_annotations.py
  ergodic_insurance/notebooks/bootstrap_demo.py
  ergodic_insurance/tests/conftest.py
Due: mypy, pylint

feat: extract ~30 hardcoded parameters into configurable arguments (#517) (#524)
  ergodic_insurance/claim_development.py
  ergodic_insurance/config/optimizer.py
  ergodic_insurance/decision_engine.py
  ergodic_insurance/hjb_solver.py
  ergodic_insurance/loss_distributions.py
  ergodic_insurance/monte_carlo.py
  ergodic_insurance/optimal_control.py
  ergodic_insurance/tests/test_claim_development.py
  ergodic_insurance/tests/test_decision_engine.py
  ergodic_insurance/tests/test_hjb_solver.py
  ergodic_insurance/tests/test_loss_distributions.py
  ergodic_insurance/tests/test_optimal_control.py
Due: mypy, pylint

fix: make RiskMetrics.var() return consistent types (#461)
  ergodic_insurance/risk_metrics.py
  ergodic_insurance/tests/test_risk_metrics.py
  ergodic_insurance/tests/test_risk_metrics_coverage.py
  ergodic_insurance/visualization/executive_plots.py
  ergodic_insurance/visualization_legacy.py
Due: mypy, pylint

fix: make RiskMetrics.var() return consistent types (#461) (#525)
  ergodic_insurance/risk_metrics.py
  ergodic_insurance/tests/test_risk_metrics.py
  ergodic_insurance/tests/test_risk_metrics_coverage.py
  ergodic_insurance/visualization/executive_plots.py
  ergodic_insurance/visualization_legacy.py
Due: mypy, pylint

chore(release): v0.6.0
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

ci: skip docs build on semantic-release version-bump commits
  .github/workflows/docs.yml
Due: none

Path conditions:
  mypy: any of: ^ergodic_insurance/ and \.py$
  pylint: any of: ^ergodic_insurance/(src|tests)/ and \.py$
