Repository AlexFiliakov/Ergodic-Insurance-Limits: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: python -m mypy ergodic_insurance/ --ignore-missing-imports
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: python -m pylint
  language: system
  args:
  - --rcfile=pyproject.toml

docs: opt 12 drags experiment results
  ergodic_insurance/notebooks/optimization/12_vol_drag_vs_prem_drag.ipynb
Due: none

docs: rec 13 risk measure sensitivity experiment
  ergodic_insurance/notebooks/reconciliation/13_risk_measures_compare.ipynb
Due: none

docs: rec 13 risk measure sensitivity experiment results
  ergodic_insurance/notebooks/reconciliation/13_risk_measures_compare.ipynb
Due: none

docs: rec 14 expectile
  ergodic_insurance/notebooks/reconciliation/14_exploring_expectiles.ipynb
Due: none

docs: rec 14 expectile study result
  ergodic_insurance/notebooks/reconciliation/14_exploring_expectiles.ipynb
Due: none

docs: rec 11 shadow mean added extra plots
  ergodic_insurance/notebooks/reconciliation/11_severity_distribution.ipynb
Due: none

docs: opt update pareto analyses
  ergodic_insurance/notebooks/optimization/03_pareto_analysis.ipynb
  ergodic_insurance/notebooks/optimization/03_pareto_analysis_with_loss_and_vol_sens.ipynb
Due: none

docs: opt 03 sensitivity add charts
  ergodic_insurance/notebooks/optimization/03_pareto_analysis_with_sensitivity.ipynb
Due: none

docs: rec 15 infinite moments sketch
  ergodic_insurance/notebooks/reconciliation/15_infinite_moments.ipynb
  ergodic_insurance/notebooks/reconciliation/Infinite_Variance_and_Mean_Distributions.pdf
Due: none

docs: rec 15 infinite moments experiment
  ergodic_insurance/notebooks/reconciliation/15_infinite_moments.ipynb
Due: none

docs: fixed rendering mermaid diagrams
  ergodic_insurance/docs/architecture/claim_lifecycle.md
  ergodic_insurance/docs/architecture/class_diagrams/accounting.md
  ergodic_insurance/docs/architecture/class_diagrams/core_classes.md
  ergodic_insurance/docs/architecture/class_diagrams/data_models.md
  ergodic_insurance/docs/architecture/class_diagrams/service_layer.md
  ergodic_insurance/docs/architecture/configuration_flow.md
  ergodic_insurance/docs/architecture/configuration_v2.md
  ergodic_insurance/docs/architecture/context_diagram.md
  ergodic_insurance/docs/architecture/exposure_system.md
  ergodic_insurance/docs/architecture/module_overview.md
  ergodic_insurance/docs/architecture/monte_carlo_architecture.md
  ergodic_insurance/docs/architecture/reporting_architecture.md
  ergodic_insurance/docs/architecture/visualization_architecture.md
Due: none

docs: update HJB notebook to use EE terminology rather than EUT
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

chore: fixing mypy issues
  ergodic_insurance/stochastic_processes.py
  ergodic_insurance/tests/test_scenario_comparator.py
  ergodic_insurance/tests/test_visualization_factory.py
  ergodic_insurance/tests/test_visualization_gaps_coverage.py
  ergodic_insurance/visualization/figure_factory.py
  ergodic_insurance/visualization/technical_plots.py
  ergodic_insurance/visualization_infra/figure_factory.py
Due: mypy, pylint

docs: HJB experiment #7 updates
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: HJB experiment enhance search grid
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: HJB intermediate enhancement, but fundamental flaw in the setup
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

test: failing accounting tests around recoveries
  ergodic_insurance/tests/test_recovery_accounting.py
Due: mypy, pylint

fix: clarify insurance receivables and gross loss recognition per ASC 410-30
  ergodic_insurance/manufacturer_claims.py
  ergodic_insurance/manufacturer_income.py
Due: mypy

feat: implement jump-aware HJB
  ergodic_insurance/hjb_solver.py
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
  ergodic_insurance/tests/test_hjb_solver.py
Due: mypy, pylint

chore(release): v0.14.0
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

feat: HJB enhancements
  ergodic_insurance/hjb_solver.py
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
  ergodic_insurance/tests/test_hjb_solver.py
Due: mypy, pylint

feat: HJB enhancements and optimization #7 notebook parallelization
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
  ergodic_insurance/tests/test_hjb_solver.py
Due: mypy, pylint

chore(release): v0.15.0
  CHANGELOG.md
  ergodic_insurance/_version.py
  pyproject.toml
Due: mypy

docs: optimized HJB solver in notebook optimization no7
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 notebook enhanced HJB runtime calibration
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 notebook, calibrating HJB solver in progress
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

fix: additional solver control keys
  ergodic_insurance/optimal_control.py
Due: mypy

docs: fix optimization no7 notebook smooth jump and other patches
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no07 notebook pip install from `develop` branch instead of PyPI for now
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

fix(hjb): drop double-counted loss drag from sensitivity worker drift
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

fix(hjb): tighten convergence, document RUIN_PENALTY methodology, add Merton regression test
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
  ergodic_insurance/tests/test_hjb_solver.py
Due: mypy, pylint

feat(hjb): hybrid Gauss-Hermite + stratified-Pareto jump-term quadrature
  ergodic_insurance/hjb_quadrature.py
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
  ergodic_insurance/tests/test_hjb_quadrature.py
Due: mypy, pylint

feat(hjb): shift TARGET_LOSS_RATIO to 0.60 (Normal-Hard Market)
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

fix(hjb): reconcile Part 10b modeler and align ruin thresholds with simulator
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 notebook fixes, but still in progress
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

docs: optimization no7 notebook config changes, but calibration still in progress
  ergodic_insurance/notebooks/optimization/07_hjb_insurance_optimization.ipynb
Due: none

Path conditions:
  mypy: any of: ^ergodic_insurance/ and \.py$
  pylint: any of: ^ergodic_insurance/(src|tests)/ and \.py$
